{% extends 'base.tmpl' %}
{% block content %}
  {% for post in posts %}
    <section>
      <div class="page-header">
        <h1><a href="{{ post.permalink() }}">{{ post.title() }}</a></h1>
        <span class="fa fa-calendar-o fa-lg"> <time datetime="{{ post.date.isoformat() }}">{{ post.formatted_date(date_format) }}</time></span>
      </div>
      {% if index_teasers %}
      <div class="p-summary">
      {{ post.text(teaser_only=True) }}
      {% else %}
      <div class="e-content">
      {{ post.text(teaser_only=False) }}
      {% endif %}
      </div>
    </section>
  {% endfor %}
{% endblock %}
